.search-min-price__airlines-checkbox{
    cursor: pointer;
    background-color:whitesmoke;
}
.search-min-price__airlines-container{
    white-space: nowrap;
}
.search-min-price__airlines-text{
    white-space: nowrap;
    border: none;
    background-color: white;
    background-color:whitesmoke;
    max-width: 150px;
    text-overflow:ellipsis;
}