.card-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
.card-list__container {
    padding-left: 0px;
}

.card-list__more {
    background-color: white;
    border: 2px solid rgb(0, 140, 255);
    padding: 5px 40px 5px 40px;
    width: 360px;
    background-color:whitesmoke;  
}