.card {
    display: flex;
    flex-direction: column;
    width: 760px;
    padding-bottom: 40px;
}

.card__heading {
    background-color: rgba(0, 140, 255, 0.651);
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 5px 20px 5px 20px;
}

.card__logo {}

.card__prise {
    text-align: end;
    font-size: 22px;
    margin: 0;
}

.card__prise-caption {
    margin: 0;
}

.card__button {
    background-color: rgb(253, 172, 66);
    border: none;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}